@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');

.App {
  text-align: center;
}

header {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.App-header{
  color: #fff;
  font-style: oblique;
  background-color: black;
  padding: 2rem 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.main{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}

.video-container{
  display: flex;
  flex-flow: column nowrap;
  align-items:center;
  margin: 1rem;
  width: 20rem;
  height: fit-content;
}
.video-container > p {
  margin: 0;
}

button{
  border: none;
}
.vote-container > p{
  padding: 0;
  margin: 0;
}